/**
 * CSS Tempalte Styles
 *
 * Please observe the following guidelines:
 *  - Use 2 spaces for indentation (not tabs)
 *  - Meaningful indentifiers with consistent capitalization
 */

body {
  margin: 0;
  padding: 0;
  background-color: #BBBBBB;

  font-family: Helvetica, Arial, sans-serif;
}

.page {
  display: block;
  margin: 8px auto;
  padding: 0;
  max-width: 900px;

  background-color: #FFFFFF;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

header, article, footer {
  display: block;
}

.header {
  margin: 0;
  padding: 8px;
  padding-bottom: 0;
}

.content {
  padding: 8px;
}

.footer {
  margin: 0;
  padding: 2px;
  min-height: 1em;

  background-color: #DDDDDD;
  border-top: 1px solid #999999;

  font-size: 0.8em;
}

/******* Header styles ********/
.header h1 {
  margin-bottom: 0.25em;
  font-size: 1.75em;
}
.header h2 {
  margin-top: 0;
  font-size: 1.25em;
  font-weight: normal;
  color: #666666;
}

/******* Header nav styles *******/
.header .nav {
  display: block;
  margin: 0 -8px;
  padding: 0;
  
  background-color: #117711;
  border: 1px solid black;
  border-width: 1px 0;
  
  overflow: hidden;
}

.header .nav > li {
  display: block;
  float: left;
  margin: 0;
  padding: 8px 16px;
  
  color: #FFFFFF;
  text-decoration: none;
  border-right: 1px solid black;
}

.header .nav > li > a {
  display: block;
  margin: -8px -16px;
  padding: 8px 16px;
  
  color: #FFFFFF;
  text-decoration: none;
}

.header .nav > li > a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/******* Footer nav styles *******/
.footer .nav {
  display: block;
  margin: 0;
  padding: 0 0 0 0.25em;
  
  text-align: left;
}

.footer .nav > li {
  display: inline;
}

.footer .nav > li:after {
  content: " |";
  margin: 0 4px;
}
.footer .nav > li:last-of-type:after {
  content: "";
}

.footer .nav > li > a {
  color: #000000;
  text-decoration: none;
}

.footer .nav > li > a:hover {
  text-decoration: underline;
}

