/**
 * CSS Tempalte Styles
 *
 * Please observe the following guidelines:
 *  - Use 2 spaces for indentation (not tabs)
 *  - Meaningful indentifiers with consistent capitalization
 */

body {
  margin: 0;
  padding: 0;
  background-color: #BBBBBB;

  font-family: Helvetica, Arial, sans-serif;
}

.page {
  display: block;
  margin: 8px auto;
  padding: 0;
  max-width: 900px;

  background-color: #FFFFFF;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

header, article, footer {
  display: block;
}

.header {
  margin: 0;
  padding: 8px;
  padding-bottom: 0;
}

.content {
  padding: 8px;
  min-height: 20em;
  color: #222;
}

.footer {
  margin: 0;
  padding: 8px;
  min-height: 1em;

  background-color: #DDDDDD;
  border-top: 1px solid #999999;

  font-size: 0.8em;
}



/******* Header styles ********/
.header h1 {
  margin-bottom: 0.25em;
  font-size: 1.75em;
}
.header h2 {
  margin-top: 0;
  font-size: 1.25em;
  font-weight: normal;
  color: #666666;
}



/******* Header nav styles *******/
.header .nav {
  display: block;
  margin: 0 -8px;
  padding: 0;
  
  background-color: #117711;
  border: 1px solid black;
  border-width: 1px 0;
  
  overflow: hidden;
}

.header .nav > li {
  display: block;
  float: left;
  margin: 0;
  padding: 8px 16px;
  
  color: #FFFFFF;
  text-decoration: none;
  border-right: 1px solid black;
}

.header .nav > li > a {
  display: block;
  margin: -8px -16px;
  padding: 8px 16px;
  
  color: #FFFFFF;
  text-decoration: none;
}

.header .nav > li > a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}



/******* Content styles *******/
.content h1 {
  margin-bottom: 0em;
  font-size: 2em;
}

.content h2 {
  margin-bottom: 0em;
  
  font-weight: normal;
  font-size: 1.5em;
}

.content h3 {
  display: inline-block;
  margin-bottom: 0.2em;
  font-weight: normal;
  font-size: 1.2em;
  border-bottom: 1px dotted black;
}

.content p {
  margin-top: 0;
  line-height: 1.4em;
}

.content p a {
  text-decoration: underline;
  color: black;
}
.content p a:hover {
  color: #999;
}

.content .readme {
  display: block;
  margin: 1em;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 6px;
  background-color: #F0F0F0;
  font-size: 0.95em;
}

.content .warning {
  border-left: 4px solid red;
  margin: 1em 0;
  padding: 8px 16px;
  background-color: rgba(255, 0, 0, 0.15);
}
.content .warning h1 {
  font-size: 1.5em;
}
.content .warning h1,
.content .warning p {
  margin: 2px 0px;
}

.content form {
  display: block;
  margin: 0.5em;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 6px;
  background-color: #F0F0F0;
}
.content form label {
  display: inline-block;
  width: 10em;
  font-size: 0.8em;
  text-align: right;
  margin-bottom: 2em;
}
.content form input[type="text"],
.content form input[type="submit"],
.content form select {
  padding: 0.25em;
  font-size: 1em;
}
.content form input[type="text"] {
  width: 20em;
  background-color: #FFF;
  border: 1px solid #CCC;
  border-radius: 4px;
  font-weight: lighter;
}



/******* Database results styles *******/
table.results {
  margin: 2em auto;
  width: 96%;
  
  color: #222;
  
  border: none;
  border-spacing: 0;
  border-collapse: collapse;
}

table.results th {
  padding: 8px;
  margin: 0;
  
  font-size: 0.9em;
  
  background-color: #586;
}

table.results td {
  border: none;
  padding: 6px;
  margin: 0;
  
  font-weight: normal;
  font-size: 0.75em;
  
  border-right: 1px solid white;
}

table.results tr:nth-of-type(even) td {
  background-color: #DEFBE9;
}
table.results tr:nth-of-type(odd) td {
  background-color: #D6F2E0;
}

.no-results {
  display: block;
  width: 90%;
  padding: 3%;
  margin: 2em auto;
  
  text-align: center;
  font-size: 1em;
  
  background-color: #DEFBE9;
  border: 2px dashed #586;
}



/******* Footer nav styles *******/
.footer .nav {
  display: block;
  margin: 0;
  padding: 0 0 0 0.25em;
  
  text-align: left;
}

.footer .nav > li {
  display: inline;
}

.footer .nav > li:after {
  content: " |";
  margin: 0 8px;
}
.footer .nav > li:last-of-type:after {
  content: "";
}

.footer .nav > li > a {
  color: #000000;
  text-decoration: none;
}

.footer .nav > li > a:hover {
  text-decoration: underline;
}


